# Properties docs: https://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description=write key note here
After=network.taget

[Service]
# Configures the process start-up type for this service unit. One of simple, exec, forking, oneshot, dbus, notify or idle.
# https://unix.stackexchange.com/questions/733890/systemd-service-unit-restart-on-failure-doesnt-restart-daemon
Type=forking

# When systemctl start is called
ExecStart=/usr/bin/exeName --config /etc/daemon-template/daemon-template.conf

# when systemctl reload this exe (for reloading of the service's configuration) it will trigger SIGHUP
# which will be caught by signal_handler and trigger the on_reload callback.
ExecReload=/bin/kill -s SIGHUP $MAINPID
# ExecReload=/bin/kill -HUP $MAINPID

# when systemctl stop this exe called: will trigger SIGTERM which will be caught by signal_handler
# and trigger the on_stop callback.
ExecStop=/bin/kill -s SIGTERM $MAINPID

User=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=name

[Install]
# Start after boot
WantedBy=multi-user.target